{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid p-0 text-center">
        <img alt="wmd-logo" class="text-center" src="{{ asset('assets/img/logowmd.webp') }}" width="33%">
    </div>
{% endblock %}

{% block javascripts_bottom %}
{% endblock %}