<html>
<head>

</head>
<body>
<div>
    <h2>Thank you for registering on Worms Toolkit</h2>
    <p>Click below to verify your e-mail address</p>
    <a href="{{ signedUrl }}" target="_blank">Verify!</a>
    <p>Don't see button copy below url to your browser</p>
    <p>{{ signedUrl }}</p>
</div>
</body>
</html>
