<html>
<head>

</head>
<body>
<div>
    <h2>Forgot your password?</h2>
    <p>If you wish to set new password for your account click below</p>
    <a href="{{ signedUrl }}" target="_blank">Set new password!</a>
    <p>Don't see button copy below url to your browser</p>
    <p>{{ signedUrl }}</p>
</div>
</body>
</html>
